/* css page */
*{
  margin: 0;
}

/* first section -> blue and white surface */
.sec-zero{
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 99%;
  height: 60px;
}
/* css blue background */
.blue-surf {
  background-color: rgba(9, 9, 95, 0.793);
  height: 45px;
  width: 45%;
  color:#f4511e;
  text-align: center;
  padding-top: 15px;
  font-size: larger;
  position: relative;
  left: -10px;
  transform: skew(+14deg);
  font-style: oblique;
  }

.sec-zero button{
  margin: 0;
  padding: 0;
  height: 33px; 
  width: 40px;
  margin-top: 12px;
  margin-right: 10px;
 background-color: #f4511e;
  transform: skew(+14deg);
  border: none;
}
 .top-stroke {
  height: 1px;
 }
 .mid-stroke {
  height: 2.3px;
 }
 .butt-stroke {
  height: 2px;
 }
 .top-stroke, .mid-stroke, .butt-stroke
 {
  width: 20px;
  background-color: rgb(2, 2, 62);
  margin-top: 2px;
  margin-left: 9px;
 }

 .sec-one{
  background-color: #111;
  height: 480px;
  width: 100%;
  text-align: center;
 }

 /* @media only screen and (max-width:600px) {
  .sec-one::before{
    content: "";
    background-image: url("images/top-top-one-switch.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skew(-7deg);
  }
 } */

 .sec-one button{
  color:#f4511e;
  background-color: white;
  border: none;
  transform: skew(+14deg);
  height: 45px;
  width: 45px;
  font-size:25px;
 }

 .right:hover, .left:hover{
 background-color: #f4511e;
  color: white;
 }

 .sec-two, .sec-three{
  background-color: rgb(26, 8, 44);
  padding: 0px 15px;
  
 }
 .sec-two h5{
  font-family:fantasy;
  text-transform: capitalize;
  color:#f4511e;
  padding-top: 70px;
 }
 .sec-two h3 {
  color: white;
  padding-top: 15px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  font-size: larger;
  padding-bottom: 20px;
 }
 .sec-two p{
  color: #ffffffae;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  font-weight: lighter;
  padding-bottom: 20px;
 }
 .sec-two button{
  height: 30px;
  width: 120px;
  transform: skew(+14deg);
  margin-right: 10px;
  font-style: italic;
  text-transform: capitalize;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
 }

 .our-mission:hover, .our-vision:hover, .our-goal:hover{
  background-color: #f4511e;
  color: #ffffff;
 }

 .our-mission, .our-vision {
  margin-bottom: 10px;
 }
 .our-vision {
  margin-left: 10px;
 }
 .our-goal {
  margin-bottom: 20px;
 }
.sec-three {
  border-top: 1px solid #ffffffae;
  border-bottom: 1px solid #ffffffae;
  display: flex;
  padding-top: 20px;
  color: #ffffffae;
  padding-bottom: 20px;
}

.white-rocket {

}

.sec-four{
  background-color: rgb(26, 8, 44);
}
.sec-four button{
  transform: skew(+14deg);
}
/* make appointment css */
.mk-appoint {
  margin-top: 20px;
  margin-left: 15px;
  height: 40px;
  width: 220px;
  font-style: italic; 
  background-color: #f4511e;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  border: none;
}
/* make appointment hover css */
.mk-appoint:hover {
 
  border: 2px solid#f4511e;
  color: rgb(26, 8, 44);
  background-color: white;
}
.short-butt{
  display: flex;
  color: #ffffff;
  margin-top: 20px;text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: small;
}
.call-ex {
  margin-left: 30px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.call-ex img{
  height: 25px;
}
.call-to {
  color: #ffffffae;
}
.sec-four-lastimg {
  min-height: 400px;
  width: 100%;
  min-width: 400px;
}

.sec-five {
  /* background-image: url("hands-up-dbell-down.jpg"); */
  padding-left: 15px;
  background-color: aqua;
  top: 160px;
  left: 160px;
  width: auto;
  min-height: 500px;
  height: auto;
}
.five-f h5{
  text-transform: capitalize;
  padding-top: 70px;
  color:#f4511e;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 10px;
}
.five-f p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  color: rgb(26, 8, 44);
  text-shadow: -1px 0 rgb(26, 8, 44), 0 1px rgb(26, 8, 44);
  padding-bottom: 20px;
}

.five-s {
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: transparent;
  transform: skew(+14deg);
  height: auto;
  min-height: 100px;
  width: 90%;
  margin: 10px auto;
  /* top: 160px;
  left: 160px; */
}
.five-s img{
  height: 60px;
  width: 60px;
}
.five-s div{
  margin: 20px;
  font-size: smaller;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.five-s h3{
  color: rgb(26, 8, 44);
}
.five-s p{
  color: #ffffff;
}
.sec-five button{
  display: block;
  height: 40px;
  width: 40%;
  min-width: 150px;
  border: none;
  margin-left: 10px;
  margin-bottom: 40px;
  transform: skew(+14deg);
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
 background-color: #f4511e;
}
/* read details button hover css */
.read-d:hover {
  background-color: white;
  color: rgb(26, 8, 44);
}
.sec-img-omega {
  min-height: 400px;
  width: 100%;
  min-width: 350px;
}
.sec-six {
  background-color: rgba(255, 228, 196, 0.766);padding-top: 70px;
  padding-left: 20px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}
.static-six h5{
  color:#f4511e;
}
.static-six h1{
  text-transform: capitalize;
  font-size: x-large;
  color: rgb(26, 8, 44);
  text-shadow: -1px 0 rgb(26, 8, 44), 0 1px rgb(26, 8, 44);
  padding-top: 10px;
  padding-bottom: 30px;
}

.six-mid-belt {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  height: 450px;
  background-color: #ffffff;
  transform: skew(+7deg);
  margin-top: 30px;
  transition: 1s;
}

.six-mid-belt:hover {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(26, 8, 44);
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  height: 450px;
  transform: skew(+7deg);
  margin-top: 30px;  
  transition: 0.5s;
}

.six-mid-belt:hover > h1 {
    color: #f4511e;
  }

.six-mid-belt button:hover {
  background-color: #ffffff;
  color: rgb(26, 8, 44);
  border: 5px solid #f4511e;
  transition: 0.5s;
  
}

.six-mid-belt img{
  min-height: 150px;
  width: 100%;
  border-bottom: 4px solid rgb(2, 2, 62);
  transition: 1s;
}
.six-mid-belt:hover > img {
  color: #111;
  background: greenyellow;
  box-shadow: 0 0 100px greenyellow;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transition: 0.8s;
}
.six-mid-belt h1{
  margin-top: 20px;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 25px;
  color: rgb(26, 8, 44);
}
.six-mid-belt p{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  color: #a08c8c;
  font-size: large;
  line-height: 23px;
}
.six-mid-belt button{
  text-transform: capitalize; 
  margin-top: 20px;
  height: 40px;
  width: 40%;
  min-width: 120px;
  transform: skew(+14deg);
  font-style: oblique;
  background-color: #f4511e;
  font-weight: bold;
  color: white;
  border: none;
}
.slide {
    /* top: 160px;
  left: 160px; */
}

.a-head-left, .a-head-right{
  height: 40px;
  width: 40px;
  transform: skew(+14deg);
  font-size: xx-large;
  color: #ffffff;
  text-shadow: -1px 0 white, 0 1px white;
  background-color: rgb(62, 20, 104);
  border: none;
  margin-top: 30px;
  margin-bottom: 50px;
}
.a-head-left:hover, .a-head-right:hover{
  background-color: #f4511e;
}
.a-head-left{
  margin-right: 30%;
}

.sec-seven{
  font-family:Arial, Helvetica, sans-serif;
  padding-top: 80px ;
  /* background-image: url(); */
  background-color: rgb(62, 20, 104);
}

.sev-zero {
  padding-left: 20px;
  padding-right: 20px;
}
.sev-zero h4{
  text-transform: capitalize;
  color:#f4511e;
  margin-bottom: 10px;
  
}
.sev-zero h1 {
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 30px;
  text-shadow: -1px 0 white, 0 1px white;
}
.sev-zero p {
  color: #ffffff;
  margin-bottom: 30px;
}

/* gamne cards */
.sev-cards {
  background-color: rgba(245, 245, 245, 0.644);
  margin-left: 10%;
  margin-right: 10%;
  transform: skew(+5deg);
  height: auto;
  min-height: 250px;
  width: 80%;
  padding-top: 5%;
  margin-bottom: 7%;
  transition: 0.5s;
}
.sev-cards:hover {
  background-color:rgb(26, 8, 44);
  transform: skew(-14deg);
  color:white;
}
.sev-cards-top {
  display: flex;
  text-transform: capitalize;
  margin-right: 5%;
  margin-left: 5%; 
  font-style: italic;
  color: #ffffff;
  text-align: center;
}
.sev-cards-top div{
  margin-left: auto;
}
.sev-cards-top img{
  height: 85px;
  background-color: transparent;
}
.sub-div {
  /* display: inline; */
  font-size: large;
 
}
.sev-cards-top p{
  font-size: small;
}

.sev-cards h4{
  text-transform: capitalize;
  margin-top: 5%;
  margin-left: 5%;
}

.sev-cards p{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.sev-cards button {
  height: 40px;
  width: 30%;
  min-width: 120px;
  margin-top: 4%;
  margin-bottom: 5%;
  margin-left: 5%;
  transform: skew(+14deg);
  font-style: oblique;
  font-weight: bolder;
  font-size:medium;
  text-transform: capitalize;
  border: none;
  color: #ffffff;
  background-color: #f4511e;
  
}
.sev-cards button:hover{
  color: #f4511e;
  background-color: #ffffff;
  border: 4px solid #f4511e;
}
.sev-cards:hover > button{
  transform: skew(+18deg);
}
.more-courses {
  height: 50px;
  width: 50%;
  min-width: 200px;
  font-size:medium;
  font-style: oblique;
  text-transform: capitalize;
  transform: skew(+14deg);
  color: #ffffff;
  background-color: #f4511e;
  border: none;
  margin-bottom: 23%;
  margin-left: 25%;
  margin-right: 25%;
}
.more-courses:hover {
  background-color: white;
  color: rgb(26, 8, 44);
  border: 2px solid #f4511e;
}


/* seventh section css ("check ouit our latest story") */
.sec-seventh{
  background-color: #ffffff;
  padding-top: 20%;
  font-family:Arial, Helvetica, sans-serif;
}
.seventh-top {
  text-align: center;
}
.seventh-top h4{
  text-transform: capitalize;
  color: #f4511e;
  margin-bottom: 2%;
}
.seventh-top h1 {
  text-transform: capitalize;
  color: rgb(26, 8, 44);
  font-size: x-large;
  text-shadow: -1px 0 rgb(26, 8, 44), 0 1px rgb(26, 8, 44);
  margin-bottom: 8%;
}
.seventh-top p {
  color: #8b6c6c;
  padding-bottom: 5%;
}
/* slideshow images css */
.sev-slide-sample{
  background-color: palegreen;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
  width: 70%;
  /* padding: 7%; */
  border: 2px solid #f4511e;
}
.sev-slidetop {

  height: 205px;
}
.sev-slide-sample:hover > .sev-slidetop > .sev-top-i{
  margin: 0;
  width: 100%;
  transition: 0.5s;
}

.sev-top-i {
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
  margin-top: 6%;
  transition: 0.5s;

}
.sev-cover-mid {
   padding: 10%;
}
.sev-mid {
  display: flex;
  background-color: rgb(26, 8, 44);
  margin-bottom: 7%;
  color: rgba(255, 255, 255, 0.76);
  height: 30px;
  padding-top: 10px;
 
}
.sev-mid-i {
  margin-right: auto;
}
.sev-mid div{
  margin-left: auto;
}
/* fullbody workout css */
.sev-slide-sample h4{
  text-transform: capitalize;
  color: rgb(26, 8, 44);
  margin-bottom: 7%;
  /* font-size: smaller; */
  font-weight: bolder;
  text-shadow: -1px 0 rgb(26, 8, 44);
}
.sev-slide-sample p{
  color: #8b6c6c;
  margin-bottom: 5%;
}
.sev-slide-sample button{
  height: 40px;
  width: 40%;
  min-width: 150px;
  font-style: oblique;
  text-transform: capitalize;
  transform: skew(+14deg);
  border: none;
  background-color: rgb(26, 8, 44);
  color: #f4511e;
  font-size: large;
  transition: 0.5s;}

.sev-slide-sample button:hover{
  background-color: #f4511e;
  color: #ffffff;
  transition: 0.5s;
}
/* four buttons below fullbody workout */
.sev-butt-button{
  text-align: center;
  height: fit-content;
}
.sev-butt-button button{
  height: 30px;
  width: 20px;
  transform: skew(+14deg);
  border: 7px solid rgb(26, 8, 44);
  margin-left: 3%;
  background-color: #f4511e;
  margin-top: 10%;
  margin-bottom: 10%;
  
}

.sev-butt-button button:hover{
  background-color: #ffffff;
  border: 7px solid #f4511e;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* section nine css (explore fitness center) */

.sec-nine {
  height: 300px;
  width: 100%;
  max-width: ;
  color: #ffffff;
  text-transform: capitalize;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
@media only screen and (max-width: 600px){
  .sec-nine {
    background-image: url("images/backflex.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 600px) {
  .sec-nine {

  }
}
.sec-nine h1{
  padding-top: 70px;
  padding-bottom: 25px;
  font-size: xx-large;
}
.sec-nine button{
  height: 50px;
  width: 35%;
  transform: skew(+14deg);
  text-transform: capitalize;
  font-style: oblique;
  color: #ffffff;
  background-color: #f4511e;
  border: none;
  font-size: medium;
  font-weight: bold;
}

.sec-nine button:hover{
  background-color: #ffffff;
  color: rgb(26, 8, 44);
}

/* section ten css */
.sec-ten {
  padding-top: 20%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
}
.ten-top h4{
  color: #f4511e;
  text-transform: capitalize;
}
.ten-top h1 {
  color: rgb(26, 8, 44);
  text-transform: capitalize;
  text-shadow: -1px 0 rgb(26, 8, 44);
  font-size: xx-large;
  margin-top: 2%;
}
.ten-top p{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.trainer-cards{
  transform: skewY(-4deg);
  margin-bottom: 50px; 
  margin-top: 50px;
  transition: 0.5s;
}
.trainer-cards img{
 width: 89%;

}
.trainer-cards div{
  text-transform: capitalize;
  border: 2px solid #f4511e;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  padding-top: 20px;
  padding-bottom: 20px;
 
}
.trainer-cards:hover{
  transform: skewY(+8deg);
  transition: 0.5s;
}
.trainer-cards:hover > div{
  background-color: rgb(26, 8, 44);
  border: none;
  width: 89%;
}
.trainer-cards:hover h5 {
  color: white;
}

.trainer-cards h5{
  color: rgb(26, 8, 44);
  font-size: medium;
  padding-bottom: 10px;
 
}
.trainer-cards p{
  color: #a08c8c;
}
/* section eleven css */
.sec-ele {
  background-color: rgb(26, 8, 44);
  min-height: 750px;
  width: 100%;
  min-width: 40px;
  padding-top: 20%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  position: sticky;
}

.ele-top{
  text-transform: capitalize;
}
.ele-top h4{
  color: #f4511e;
  margin-bottom: 3%;
}
.ele-top h1{
  color: white;
  font-size: xx-large;
  margin-bottom: 5%;
}
.sec-ele button{
  height: 45px;
  width: 45px;
  transform: skew(+14deg);
  font-size: xx-large;
  font-style: oblique;
  color: #ffffff;
  background-color: #f4511e;
  border: none;
  margin-top: 50px;
}
.middle-butt-img{
  margin-left: 30%;
  margin-right: 30%;
  top: -100px;
}

.ele-show{
  top: -10px;
}
.ele-top-p{
  color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
  line-height: 2;
  font-size: larger;
  font-weight: lighter;
}
.ele-show h4{
  margin-top: 25px;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ele-prof {
  text-transform: capitalize;
  color: #8b6c6c;
}

.sec-thirteen{
  background-color: rgb(26, 8, 44);
  margin-top: 15%;
  padding-top: 80px;
}
.top-teen, .tier-two-teen {
  background-color: transparent;
  text-align:center;
 
}
.top-teen{
  margin-bottom: 30px;
  transform: skew(+14deg);
}
.top-teen input{
  height: 50px;
  min-width: 200px;
  width: 45%;
  padding-left: 15px;
  font-size:medium;
}
.top-teen button{
  height: 55px;
  width: 20%;
  min-width: 80px;
  margin-left: 10px; 
  text-transform: capitalize;
  color: #ffffff;
  background-color: #f4511e;
  border: none;
}
.tier-two-teen img{
  height: 40px;
  text-align: center;
}
.teen-mid-top {
  padding-left:5%;
  margin-bottom: 40px;
}
.teen-pseudo-top{
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
.teen-pseudo-top img {
  margin-right: 2%;
  margin-top: -10px;
  height: 40px;
}
.teen-mid-top p{
  color: #8b6c6c;
  line-height: 2;
}

.teen-quick-links {
  padding-left: 5%;
  color: #ffffff;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10%;
}

.teen-quick-links h3{
  margin-bottom: 25px;
}

.teen-quick-links p{
  margin-bottom: 10px;
  font-weight: lighter;
}
.contact-teen{
  padding-left: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 8%;
}
.contact-teen h3{
  color: #ffffff;
  text-transform: capitalize;
  font-size: medium;
}

.contact-div-teen {
  display: flex;
  margin-top: 25px;
}
.contact-div-teen img{
  height: 40px;
  margin-right: 20px;
}
.contact-div-teen p{
  margin-top: 10px;
}
.teen-omega {
  color: #ffffff;
  padding-left: 5%;
  
}
.teen-omega h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.teen-omega div{
  /* width: 80%; */
  padding-bottom: 40px;
}
.teen-omega-recentwork{
}
.teen-omega-recentwork img{
  min-height: 40px;
  width: 22%;
  transform: skewY(-5deg);
  padding: 4px;
  transition: 0.5s;
}
.teen-omega-recentwork img:hover{
  transform: skewY(+5deg);
  transition: 0.5s;
}
.sec-omega {
  text-align: center;
  background-color: rgb(26, 8, 44);
  border-top: 1px solid #8b6c6c;
  padding-top: 20px;
  height: 60px;
  color: #8b6c6c;
}
.sec-omega p{
  margin-bottom: 20px;
}